body {
    font-family:Arial, sans-serif;
    background: #87ceeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conatiner{
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

button{
    padding: 8px 15px;
    background: #2196f3;
    color:white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 15px;
    font-size: 16px;
}